<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.video.pojo.model.User">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="fans_count" jdbcType="INTEGER" property="fansCount"/>
        <result column="follow_count" jdbcType="INTEGER" property="followCount"/>
        <result column="praise_count" jdbcType="INTEGER" property="praiseCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="query_fileds">
        select id,
               username,
               password,
               nickname,
               icon,
               fans_count,
               follow_count,
               praise_count,
               create_time,
               update_time
        from user
    </sql>

    <insert id="insert" parameterType="com.video.pojo.model.User" keyProperty="id">
        insert into user (id, username, password,
                          nickname, icon, fans_count,
                          follow_count, praise_count, create_time,
                          update_time)
        values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{fansCount,jdbcType=INTEGER},
                #{followCount,jdbcType=INTEGER}, #{praiseCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               username,
               password,
               nickname,
               icon,
               fans_count,
               follow_count,
               praise_count,
               create_time,
               update_time
        from user
    </select>

    <select id="selectUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,
               username,
               password,
               nickname,
               icon,
               fans_count,
               follow_count,
               praise_count,
               create_time,
               update_time
        from user
        where username = #{username}
    </select>

    <select id="selectUserByUsernameAndPassword" resultMap="BaseResultMap">
        select id,
               username,
               nickname,
               icon,
               fans_count,
               follow_count,
               praise_count,
               create_time,
               update_time
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="selectUserByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        <include refid="query_fileds"/>
        where id = #{userId}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.video.pojo.model.User">
        update user
        set username     = #{username},
            password     = #{password},
            nickname     = #{nickname},
            icon         = #{icon},
            fans_count   = #{fansCount},
            praise_count = #{praiseCount},
            follow_count = #{followCount},
            update_time  = #{updateTime}
        where id = #{id}
    </update>
</mapper>